<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  {% seo %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7839960170715319",
      enable_page_level_ads: true
    });
  </script>
  </head>

  <body>
    {% include header.html %}
    <br>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
